@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --font-color-primary: #111729;
    --font-color-secondary: #223344;
    --font-color-link: #2A4DD0;
    --bg-color: #F2F9FE;
    --bg-sidebar: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

.dark {
    --font-color-primary: #F2F9FE;
    --font-color-secondary: #F2F9FE;
    --font-color-link: #F2F9FE;
    --bg-color: #111629;
    --bg-sidebar: #909193;
}

body {
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 28px 13px 50px;
    margin: 0 auto;
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--font-color-primary);
}

.link-container {
    display: none;
}

.link-container ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.link-container a {
    color: var(--font-color-secondary);
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
}

.link-container li:first-child a {
    color: var(--font-color-link);
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.link-container li a:hover {
    color: var(--font-color-link);
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.switch-mode {
    display: none;
    gap: 4px;
    background-color: #223344;
    width: 50px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 2px 0;
    cursor: pointer;
    border: none;
}

.switch-mode div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}

.switch-mode svg {
    width: 20px;
    height: 20px;
}

.dark-mode > svg {
    fill: #223344;
    background-color: #F2F9FE;
}

.light-mode > svg {
    fill: #F2F9FE;
    background-color: #223344;
}

.switch-mode.dark-mode-active .dark-mode svg {
    fill: #F2F9FE;
    background-color: #223344;
}

.switch-mode.dark-mode-active .light-mode svg {
    fill: #223344;
    background-color: #F2F9FE;
}

header button:last-child {
    cursor: pointer;
    background-color: var(--bg-color);
    border: none;
}

.sidebar {
    position: fixed;
    width: 50vw;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg-sidebar);
    display: none;
    flex-direction: column;
    gap: 80px;
    padding: 27px;
    align-items: center;
}

.show-sidebar {
    display: flex;
}

.sidebar-link-container {
    display: block;
}

.sidebar-link-container ul {
    flex-direction: column;
}

.sidebar-link-container ul a {
    font-size: 3rem;
}

.sidebar > button:first-child {
    width: 22px;
    height: 22px;
    border: none;
    background-color: var(--bg-sidebar);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.sidebar-switch-mode {
    display: flex;
}

.content-section > div:first-child {
    margin-bottom: 12px;
    color: var(--font-color-primary);
    font-size: 0.875rem;
    font-weight: 600;
}

.title {
    color: var(--font-color-primary);
    width: fit-content;
}

.title h1 {
    font-size: 3.75rem;
    margin-bottom: 32px;
    max-width: 800px;
}

.description {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--font-color-secondary);
    margin-bottom: 22px;
}

.cta {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-bottom: 40px;
}

.cta button {
    padding: 16px 32px;
    background-color: #2A4DD0;
    color: #FFFFFF;
    font-size: 1rem;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    cursor: pointer;
}

.cta a {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--font-color-link);
    text-underline-offset: 4px;
    cursor: pointer;
    text-decoration-thickness: 2px;
}

.check-list {
    display: flex;
    gap: 20px;
}

.check-item {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.check-item p {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--font-color-secondary);
}

@media (min-width: 1024px) {
    main {
        flex-direction: row;
        align-items: flex-start;
    }

    body {
        padding-left: 72px;
        padding-right: 72px;
    }

    .link-container {
        display: block;
    }

    .switch-mode {
        display: flex;
    }

    header button:last-child {
        display: none;
    }

    .sidebar {
        display: none;
    }
}